html,
body {
  height: 100%;
}

.bg-texture{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}
.bg-img{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20vh;
    opacity: 0.2;
}